.o_action_manager{
overflow: auto !important;
}

.oh_dashboards{
    padding-top :15px;
    background-color: #f8faff !important;
}

.oh-card h4 {
    font-size: 1.1rem;
}
.breadcrumbs {
    margin-top: 0;
}

.buttons button {
  margin: 2px 0; }

/* Button Reset */
.btn, .button {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  transition: all .15s ease-in-out;
  border-radius: 0;
  cursor: pointer; }


/*    Widget One
---------------------------*/
/*.stat-count-status {
    text-align: center;
    margin: 0px;
    padding: 0px
}*/


.stat-content {
    display: inline-block;
    width: 66%;
}
.stat-icon{
    display: inline-block;
    vertical-align: top;
    width: 100%;
    color: #01c490;
}

.stat-widget-one{
    vertical-align: top;
    margin: auto;
    width: 100%;
}

.stat-widget-one .stat-icon i {
  font-size: 30px;
  font-weight: 900;
  display: inline-block;
  color: #01c490;}

.stat-widget-one .stat-text {
    font-size: 14px;
    font-weight: bold;

}

.stat-widget-one .stat-digit {
  font-size: 24px;
 }

.stat-count {
  font-size: 20px;
  text-align: center;
  color: #00438b;}

.stat-title {
  font-size: 17px;
  text-align: center;
  color: #00438b; }

.mb-0{
    font-size: 20px;
    position: relative;
    text-align: center;
}
.mb-0 .dash-title {
    font-size: 20px;
    text-align: center;
    color: rgba(255, 255, 255, 0.81);
}

body .text-color {
    color: #00438b;
}




.oh_dashboards {
    background-color: #f8faff !important;
    padding: 0px !important;

}
.container-fluid.o_hr_dashboard {
    padding: 20px !important;
}



.oh-card {

    padding-top: 0px;
    padding: 0px;
    margin-bottom: 1.5rem;
    border-radius: 0px;
    box-shadow: none;
    background: none;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    will-change: transform, box-shadow;

}
.oh-card:hover {

    transform: translateY(-2px) translateZ(0) !important;
    box-shadow: 0 10px 10px 0 rgba(62, 57, 107, 0.12), 0 0 0 transparent !important;

}

.service-state {

    margin-top: 1.5%;

}
.service-state .stat-icon {

    width: 30%;
    height: 85px;
    text-align: center;
    padding-top: 15%;
    background: black;
    color: #fff;
    font-weight: bold;
    font-size: 16px

}
.service-state .oh-card {

    transition: transform 0.2s ease, box-shadow 0.2s ease;
    will-change: transform, box-shadow;
    box-shadow: 0 10px 40px 0 rgba(62,57,107,0.07), 0 2px 9px 0 rgba(62,57,107,0.06);

}
.stat-widget-one .stat-text {

    font-size: 14px;
    margin-top: 2.3rem;
    margin-left: 1rem;

}
.stat-widget-one .stat-digit {

    font-size: 17px;

    margin-left: 1rem;
    padding-left: 26px;

}

.stat-widget-one .stat-icon i {

    font-size: 25px;
    font-weight: 900;
    display: inline-block;
    color: #fff;

}
.stat-widget-one {

    background-color: white;
    text-align: inherit !important;

}
.stat-widget-one {
    width: 100%;
}
.service-state .stat-icon {

    width: 30%;
    height: 85px;
    text-align: center;
    padding-top: 15%;

}

.oh-broad-factor .stat-icon{
    background: #70cac1 !important;
}

*/
.main-section {
    margin-right: 20px;
}

.row.main-section {
    margin-right: 20px; !important;
}

.oh-card-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.oh-card-body:hover {
    cursor: pointer
}


.text-align {
  margin-left: 17px;
}

.stat-text {
    font-size: 16px;
    color: #808080;
    font-weight: bold;

}
.stat-widget-one{
    vertical-align: top;
    margin: auto;
    width: 100%;
    color:#808080
}

.complete-colored{
    background-color: #efefef;
}
.overdue-colored{
    background-color: #efefef;
}


h3{
 padding-top: 20px;
 padding-right: 30px;
 font-weight: bold
}

.employee-name{
    font-size: 10px;
    text-align: center;
    font-weight: bold;
    color:#F5F5F5
}

.employee-name-background{
    display: inline-block;
    vertical-align: top;
    width: 100%;
    color: white;
    font-weight: bold
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -16px;
    margin-left: -16px;
    width: 100%;
}

.row1 {
    display: flex;
    flex-wrap: wrap;
    margin-right: -16px;
    margin-left: -16px;
    width: 100%
}

/*.card-body {
   background-color: #bd96b6 !important;
    color: white;
    font-weight: bold
}*/

.title0{
/*
    background-color: #8A2BE2 !important;
*/
    color:black;
    background-color: #efefef !important;

}

.title1{
    background-color: #efefef !important;
 /*   background-color: #0000FF !important;*/
}

.title2{
    background-color: #efefef !important;
/*    background-color: #FF7F50 !important;*/
}

.title3{
    background-color: #efefef !important;
/*    background-color: #A52A2A !important;*/
}

.title4{
    background-color: #efefef !important;
/*    background-color: #5F9EA0 !important;*/
}
.title5{
    background-color: #efefef !important;
/*    background-color: #6495ED !important;*/
}
.title6{
    background-color: #efefef !important;
/*    background-color: #DC143C !important;*/
}
.title7{
    background-color: #efefef !important;
/*    background-color: #4b586e !important;*/
}
.title8{
    background-color: #efefef !important;
/*    background-color: #CD5C5C !important;*/
}
.title9{
    background-color: #efefef !important;
/*    background-color: #D2691E !important;*/
}
.title10{
    background-color: #efefef !important;
/*    background-color: #B8860B !important;*/
}
.title11{
    background-color: #efefef !important;
/*    background-color: #006400 !important;*/
}
.title12{
    background-color: #efefef !important;
/*    background-color: #00008B !important;*/
}
.title13{
    background-color: #efefef !important;
/*    background-color: #9932CC !important;*/
}
.title14{
    background-color: #efefef !important;
/*    background-color: #8FBC8F !important;*/
}
.title15{
    background-color: #efefef !important;
/*    background-color: #2b945e !important;*/
}
.title16{
    background-color: #efefef !important;
/*    background-color: #abbab2 !important;*/
}
.title17{
    background-color: #efefef !important;
/*    background-color: #aae06c !important;*/
}.title18{
    background-color: #efefef !important;
/*    background-color: #162604 !important;*/
}.title19{
    background-color: #efefef !important;
/*    background-color: #452394 !important;*/
}.title20{
    background-color: #efefef !important;
/*    background-color: #1e0f42 !important;*/
}.title21{
    background-color: #efefef !important;
/*    background-color: #7a0471 !important;*/
}
.title22{
    background-color: #efefef !important;
/*    background-color: #568f72 !important;*/
}

.card_width_height{
    width: 150px;
    height 40px
}

/*input[type="date"] {
     -webkit-align-items: center;
     display: -webkit-inline-flex;
     font-family: monospace;
     overflow: hidden;
     padding: 0;
     -webkit-padding-start: 1px;

}*/
/*table, th, td {
  border: 2px solid black;
}*/
/*tr{
    cursor: pointer;
}*/